.search-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    max-width: 250px;
}

.search-label {
    font-weight: 600;
    font-size: 0.9rem;
    color: #179443;
}

.search-input {
    line-height: 30px;
    border: 1px solid #121212;
    outline: none;
}

.search-input:hover, .search-input:focus {
    border: 1px solid #179343;
}

.search-button {
    outline: none;
    padding: 0.5rem 1rem;
    border: none;
    background: #1DB954;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

.search-button:hover {
    background-color: #179443;
}